<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 250px; height: 100vh;">
  <a href="/admin" class="d-flex align-items-center mb-3 mb-md-4 text-white text-decoration-none">
    <i class="bi bi-house-door-fill me-2 fs-4"></i>
    <span class="fs-5 fw-bold">Residencial Acapulco ADM</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item mb-1">
      <a href="/admin" class="nav-link text-white">
        <i class="bi bi-speedometer2 me-2"></i> Início
      </a>
    </li>
    <li class="nav-item mb-1">
      <a href="/admin/moradores" class="nav-link text-white">
        <i class="bi bi-person me-2"></i> Moradores
      </a>
    </li>
    <li class="nav-item mb-1">
      <a href="/admin/mensagens" class="nav-link text-white">
        <i class="bi bi-envelope me-2"></i> Mensagens
      </a>
    </li>
    <li class="nav-item mb-1">
      <a href="/admin/config" class="nav-link text-white">
        <i class="bi bi-plus me-2"></i> Cadastrar Conta
      </a>
    </li>
    <li class="nav-item mt-3">
      <a href="/login" class="nav-link text-white">
        <i class="bi bi-box-arrow-left me-2"></i> Sair
      </a>
    </li>
  </ul>
</div>